body{
    background-color: #1b1717;
    margin: auto;
    flex-wrap: wrap;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

input[type=submit]{
    width: 20%;
    background-color: #ff7a00;
    color: black;
    padding: 30px 20px;
    margin: 360px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
input[type=submit]:hover{
    background-color: #d44000;
}